*, *::before, *::after {
	box-sizing: border-box;
}

body{
	margin: 0;
	background: #f2f4f3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}

table{
	width: 100%;
	border-collapse: collapse;
	background: white;
	box-shadow: 0px 2px 8px rgba(0,0,0,.25);
	max-width: 1600px;
	margin-top: 1rem;
}

th{
	text-align: left;
	padding: .75rem;
}

td{
	padding: .75rem;
}

.thead-row{
	border-bottom: 1px solid #e0e0e0;
}

tr:not(.thead-row):nth-child(odd){
	background: #efefef;
}

.user{
	cursor: pointer;
}

.post{
	background: white;
	box-shadow: 0px 2px 8px rgba(0,0,0,.25);
	margin-bottom: 1rem;
	padding: .75rem;
}

#user{
	padding: 1rem;
	background: white;
	margin: 1rem 0;
	align-self: stretch;
	text-align: center;
	font-weight: bold;
}